{% extends 'accounts_1/base_home_accounts_1.html' %}
{% block head %}
<title>Coming Soon Dreamway</title>
{% endblock %}

{% block body %}

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Dreamway</h1><br><br>
          <h2 class="text-white-50 mx-auto mt-2 mb-5"><br>Coming Soon</h2>
          <a href="{% url 'home' %}" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>

    </header>

{% endblock %}