{% extends 'accounts_1/base_home_accounts_1.html' %}

{% block head %}
    <title>Not Success</title>
{% endblock %}

{% block body %}

    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Not Success</h1><br>
          <h2 class="text-white-50 mx-auto mt-2 mb-5" style="background-color: #3d4c45">Your Email or Password is wrong.<br>
              Or You have to Wait for admin approval.<br>
              You can expect that you will be approved by admin within 2-3 hours.</h2>
          <a href="{% url 'contact' %}" class="btn btn-primary js-scroll-trigger">Contact Us</a>
        </div>
      </div>

    </header>

{% endblock %}




