{% extends 'accounts_1/base_home_accounts_1.html' %}
{% load static %}

{% block head %}
<title>Dreamway Homepage</title>
<link rel="icon" type="image/png" href="{% static 'icon/icon.png' %}"/>
{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Dreamway</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Dreamway IT Institute & Software Firm is Multinational Industry Asia & EU Based.</h2>
          <a href="{% url 'about' %}" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>

    </header>


    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4" style="background-color: #6f42c1">Our Journey</h2>
            <p class="text-white-50">Dreamway IT Institute & Software Firm Officially Started it’s journey on 3rd April 2016 with 10 employees.
                        First it started as a training institute but later it also started its software business.
          </div>
        </div>

      </div>
        <img src="{% static 'accounts_1/img/dream2.jpg' %}" class="img-fluid" alt="">
    </section>


    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4" style="background-color: #6f42c1">Policy</h2>
            <p class="text-white-50">Every business has a way in which it operates and does things.
                Businesses and company leaders without clear business policies often have
                subordinates making decisions that don't mesh with what leadership really wants to see.
                Clear, concise and written business policy plans help any business maintain consistency
                in operations and relieve leadership from the need to micromanage.
                When business policies are created and used,
                there is a standardization of how the company delivers products or services to consumers.
          </div>
        </div>

      </div>
        <img src="{% static 'accounts_1/img/dream.jpg' %}" class="img-fluid" alt="">
    </section>



    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'accounts_1/img/maxresdefault.jpg' %}" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>MISSION AND VISION</h4>
              <p class="text-black-50 mb-0">We have a simple mission that we want to spread  IT knowledge among everybody.</p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'accounts_1/img/demo-image-01.jpg' %}" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Our Rise Up</h4>
                  <p class="mb-0 text-white-50">From November 26th 2016 it started it’s worker based system.
                      From then Dreamway IT Institute & Software Firm became one of the leading WBS maintainer in Bangladesh.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'accounts_1/img/demo-image-02.jpg' %}" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Organization</h4>
                  <p class="mb-0 text-white-50">is one of the most successful IT Training Institute in Bangladesh.
                      With 100% success rate this organization open branches in different parts of the country.
                      It also creates the job opportunities for 5000+ unemployed.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">Khulna, Bangladesh</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">tanvirislampial@gmail.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+8801686232332</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://twitter.com/kumarprosenjit1" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/dreamwayit/?__tn__=%2CdkC-R-R&eid=ARAP7o-ukmpNKnh6ddI6VSGJKBd0OziVrDbPMbNknXIHofiyA93ROiGzWMZ-erXEUea4Gb1YD3ue8QdG&hc_ref=ARQmdo4_qyzWG9eeQ9XMZTdm4GUzowpdirwwf0_v99VheAuyEqIgUalQBbEgylKvigY&fref=gs&dti=284278242176847&hc_location=group" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://github.com/ProsenjitKumar" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Dreamway IT Institute & Software Firm
      </div>
        <div class="container">
        Copyright &copy; Your Website 2018<br>
            All rights reserved | Developed by <a href="https://www.facebook.com/prosenjit1994" target="_blank">Prosenjit</a> from Dreamway
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'accounts_1/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'accounts_1/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'accounts_1/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'accounts_1/js/grayscale.min.js' %}"></script>

{% endblock %}
